html, body, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-rows: 75% 25%;
  grid-template-columns: 25% 50% 25%;
}

.left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background: #f2a3a3;
}

.middle {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  background: #a3f2bf;
}

.right {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  background: #a3c2f2;
}

.bottom {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  background: #ddd;
}